._5bmx{margin-top:0}._5bmy{margin-bottom:0}
._x85{display:inline-block}._x88{left:164px;position:absolute}._x8a{display:inline-block;padding:12px;position:relative}._x8b{position:absolute;right:0;top:10px}._x8b:hover{cursor:pointer}

#bootloader_0Pf45{height:42px;}.bootloader_0Pf45{display:block!important;}