{# Vue de base sur pc qui étend la vue générale #}
{% extends 'ObservationBundle::layout.html.twig' %}

{% block body %}
    {# Incorporation de la bar de navigation desktop et des messages flashs #}
    {% include 'ObservationBundle:Default:navbar.desktop.html.twig' %}
    {% include 'ObservationBundle:Default:flash.message.html.twig' %}
    {# block content qui sera remplit au besion sur chaque page#}
    <div class="container">
        {% block content %}
            {{ type }}
        {% endblock %}
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        // Script affichant les sous-menus au survole et cache au quite de la navbar
        $(document).on('mouseover', '[data-toggle="tab"]', function () {
            $(this).tab('show');
        });
        $(document).on('mouseleave', 'nav', function () {
            $('.tab-pane').removeClass('active');
            $('.tabs').removeClass('active');
        })

    </script>
{% endblock %}