{%  extends is_mobile() ? '@Observation/layout.mobile.html.twig' : is_tablet() ? '@Observation/layout.mobile.html.twig': '@Observation/layout.desktop.html.twig' %}

{% block link %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/observation/css/error.css') }}">
{% endblock %}

{% block content %}

    <div id="error" class="center-80">
        <h1>Une erreur est survenue</h1>
        <p>

            Le serveur viens de retourné l'erreur {{ status_code }}.<br>
            La erreur est {{ status_text }}
        </p>
    </div>
{% endblock %}
