/*------- Style pour la liste de l'observation ---------*/
h2{
    color: #a1d0f3;
}
.observation>.first-bloc{
    height: 50px;
}
.observation>.second-bloc{
    height: 60px;
}

/*------- fin de style pour la liste de l'observation ---------*/
