#content-connect{
    width: 80%;
    margin: auto;
}
form{
    width: 80%;
    margin: auto;
    padding: 3%;
    background-color:#f3f3f3 ;
}
.form-control{
    border-radius: 0;
    margin-bottom: 10px;
    /*width: 80%;*/
    /*margin: auto;*/
}

#forget-link{
    text-decoration: underline;
}
label{
    font-weight: normal;
    font-size: small;
}
#oauth{
    padding-top: 10px;
    margin-bottom: 10px;
}
.connect{
    height: 20px;
}
hr{
    margin-top:10px;
    margin-bottom: 10px;
}
form .btn{
    border-radius: 0;
    width: 100%;
    color: white;
}
.btn-red{
    background-color: #d85040;
}
.btn-blue{
    background-color: #415a92;
}
#oauth .btn{
    border-radius: 0;
    color: white;
}


@media (max-width: 992px){
    #view{
        background: url('/bundles/observation/images/hiker-918473_1920.jpg') no-repeat center;

        position: relative;
        top: -10px;
    }

}
/*------------ Toggle switch --------------- */
/* Le switch - box autour du slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

/* On cache la checkbox HTML */
.switch input {
    display: none;
}

/*Le slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #99d1c8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.off{
    display: none;
}

.on, .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}
input:checked + .slider {
    background-color: #dbefed;
}

input:focus + .slider {
    box-shadow: 0 0 1px #dbefed;
}

input:checked + .slider:before {
    -webkit-transform: translateX(135px);
    -ms-transform: translateX(135px);
    transform: translateX(135px);
}

input:checked + .slider .off{
    display: block;
}

input:checked + .slider .on{
    display: none;
}



/*----------- Fin du toggle switch */