/*
Style filtre
 */

#filter-gallerie{
    height: 30px;
    margin-bottom: 10px;
}

#filters-gallerie{
    width: 200px;
}

/*
stylisation images gallerie
 */

#list-gallery img {
    margin: 10px auto;
    min-height: 200px;
    height: 200px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

#list-gallery img:hover
{
    opacity: 0.7;
}

#list-gallery a:hover
{
    text-decoration: none;
}

#myModal img
{
    height: 80%;
    max-width: 50%;
}

#pictures
{
    margin-bottom: 30px;
}

/* The Modal (background) */
.modal-galery {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-galery {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 30px;
}

figcaption
{
    font-size: x-small;
    height: 30px;
}

/* Position du bouton up à 120px du haut*/
#up {
    z-index: 255;
    display: none;
    position: fixed;
    right: 10%;
    top: 5%;
}

#up > .fa {
    color: #99d1c8;
}


/* Add Animation - Zoom in the Modal */
.modal-content-galery, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close-galery {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-galery:hover,
.close-galery:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 992px){
    .modal-content-galery {
        width: 100%;
    }

    /* position du bouton up à 20px du haut */
    #up {
        top: 60px;
    }

}