/*
    Home page
     */

#contentHome {

    background: url('/NAO/web/bundles/observation/images/Visuels/observation_background.jpg') no-repeat center;
    width: 100%;
}

#saisie {
    background: url('../images/Visuels/photographe.jpg') no-repeat center;
    -webkit-background-size: cover;
    height: 200px;
    padding-top: 70px;
    opacity: 0.7;
}

#saisie p {
    color: white;
    font-size: large;
}

#newsletter {
    background: url('../images/Visuels/newsletter.jpg') no-repeat center;
    -webkit-background-size: cover;
    height: 200px;
    padding-top: 70px;
    opacity: 0.7;
}

#newsletter .form-control, #newsletter button {

    border-radius: 0;
}

@media (max-width: 992px) {
    #homePicture {
        background: url('../images/hiker-918473_1920.jpg') no-repeat center;
        -webkit-background-size: cover;
        /* Hauteur de l'écran */
        height: calc(100vh - 40px);
    }

    #start {
        top: calc(100vh - 90px);
    }

    .images {
        margin-bottom: 10px;
    }
}
/* Style special pour la navbar */
.navbar-fixed-top{
    background-color: transparent;
}
/*Style sur le div principal de la page
    Afin d'occupé toute l'hauteur de la fenetre
*/
@media (min-width: 992px) {
    #homePicture {

        background: url('../images/hiker-918473_1920.jpg') no-repeat center;
        -webkit-background-size: cover;
        /* Hauteur de l'écran */
        height: 100vh;
    }

}
/* Positionnement du bouton sur le bas du div */
#start{
    position: relative;
    top: calc(100vh - 50px);
    background-color: transparent;
    color: white;
}

/*
    Arrondi du bouton
*/
.btn-round-lg {

    border-radius: 24px;
}

/*
Texte de bienvenue
*/

#bienvenue, #gallery, #actions {
    height: 300px;
}

#bienvenue h1 {
    height: 100px;
}

#gallery h1 {
    margin-top: 30px;
}

#bienvenue p {
    height: 150px;
}

#bienvenue div {
    height: 100px;
}

/*
Gallerie de photos
 */
#gallery a {
    padding-top: 40px;
    text-decoration: underline;
}

#gallery img {

    margin-right: 10px;
}

#gallery p {
    margin-top: 50px;
}
