/* Mise en fomre de la navbar*/
.navbar-general > #first, .navbar-fixed-bottom > .navbar-nav {
    /*Couleur de fond de la premiere ligne */
    background-color: #99d1c8;
}

.navbar-general > .tab-content {
    /* Couleur de fond de la deuxieme ligne*/
    background-color: #dbefed;
}

.first_line > a {
    /* Couleur des lien premiere ligne*/
    color: white;
    line-height: 18px;
}
.nav>li>a{
    padding: 10px;
}

.first_line.active > a {
    /* Couleur des lien premiere ligne quand active*/
    color: #333333;
}

.second_line > a {
    /* Couleur des lien secondes ligne*/
    color: #aaaaaa;
    line-height: 18px;
}

.second_line.active > a {
    /* Couleur des lien secondes ligne quand active*/
    color: #333333;
}

/*Sytle sur le titre de la nav bar*/
.navbar-brand {
    color: #a1d0f3;
    font-size: 36px;
}

/* Padding du logo*/
.navbar-header img {
    margin-top: 15px;

}

@media (min-width: 993px) {
    .navbar {
        margin-bottom: 0;
        max-height: 90px;
        border: 0;
    }

    .navbar > #first {
        height: 50px;
    }
    .navbar>#first>.center-80, .navbar>#first>.center-80>div, .navbar>#first>.center-80>div>.navbar-nav,.navbar>#first>.center-80>div>.navbar-nav>li,.navbar>#first>.center-80>div>.navbar-nav>li>a{
        height: 100%;
    }
    .navbar>#first>.center-80>div>.navbar-nav>li>a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar > .tab-content {
        max-height: 40px;
    }

    .second_line {
        height: 40px;
    }

    .second_line > a {
        margin: auto;
    }

    .first_line.active > a {
        height: 50px;
        border: 0;
        border-bottom: 3px solid #dbefed;
    }
    .first_line> a:hover {
        background-color: #dbefed !important;
        color: #333333;
    }
    .second_line> a:hover {
        background-color: transparent !important;
        color: white;
    }
    .navbar-transparent .first_line> a:hover,.navbar-transparent .second_line> a:hover  {
        background-color: transparent !important;
        color: #99d1c8;
    }

    .tab-pane > .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    /*bloquage de la hauteur min*/
    .navbar {
        border: 0;
        min-height: 40px;
    }

    /* Création de la hauteur de la liste principale ainsi que de largeur*/
    .navbar-nav {
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .navbar > .nav-tabs {
        border-bottom: 0;
    }

    .first_line, .first_line.active {
        width: 25%;
        height: 40px;
        margin: 0;
        padding: 0;
    }

    .first_line.active {
        background-color: #dbefed;
    }

    .nav-tabs > li.active > a {
        background-color: transparent;
        border: 0;
    }

    .first_line > a, .first_line.active > a {
        margin: 0;
        border: 0;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .first_line > a > img {
        height: 20px;
    }

    /*Sous navbar */
    .second {
        margin: 0;
        padding: 0;
        height: 30px;
    }
    .second_line{
        height: 100%;
    }
    .second_line > a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .second_line > a > img {
        height: 20px;
    }

}

@media (min-width: 993px) and ( max-width: 1200px) {
    .center-80{
        width: 90% !important;
    }
    .navbar-header img{
        width: 160px;
    }
    #first>.center-80>div>ul{
        width: calc(100% - 160px);
    }
    #first li{
        width: 120px;
    }
    #first ul a{
        width: 120px;
        padding:10px 5px;
    }
    #first li.logo-sociaux, #first a.social-network, #first li:last-child, #first li:last-child>a{
        width: 20px;
    }
    #first a.social-network, #first li:last-child>a{
        padding: 10px 2px;
    }
    #ident-li, #ident-a{
        width: 180px !important;
    }
    #first #home, #first #home>a{
        width: 75px;
    }
    #first #information, #first #information>a{
        width: 100px;
    }
}
@media (max-width: 992px) {
    .navbar{
        margin: 0;
    }
}

@media (min-width: 768px) {
    .navbar-nav{
        float: none;
    }
}