#content_avatar{
    width: 200px;
    height: 200px;
    margin: auto;
}
#content_avatar>p{
    margin: 45% 0;
}
.img-responsive{
    width: 200px;
    height: 200px;
}
#edit_avatar{
    display: block;
    position: relative;
    bottom: 40px;
    left: 160px;
    background-color: #e7e7e9;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
#edit_avatar>i{
    height: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

/*---- Couleur Background -----*/
#observations-count{
    background-color: #8dd4e8;
}

#stars-count{
    background-color: #dbefed;
}
.count{
    height: 15vh;
    color: white;
}
.count>h4{
    text-transform: uppercase;
    height: 25%;
    line-height: normal;
}
.count>div{
    height: 75%;
    font-size: xx-large;
    text-transform: uppercase;
}
.count>div>img{
    height: 40%;
}
form{
    background-color: #fbfbfb;
    padding: 10px;
}
.form-group{
    height: 40px;
}
.form-group img, .form-group input, .form-group a{
    height: 30px;
    margin-top: 5px;
}
.form-control{
    border-radius: 0;
}
.form-control:disabled{
    background-color: #ffffff;
}
.form-group .btn{
    width: 30px;
    padding: 0;
}
.btn-grey{
    background-color: #fbfbfb;
    border: 1px solid gray;
    border-radius: 0;
}
.fa-pencil{
    color: gray;
    margin-top: calc((30px - 13px) /2);
}


input:disabled::placeholder, input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
    color: #b5b5b5;
    line-height: normal;
}