

/*
Réglages généraux
*/
body {
    font-family: ‘Roboto’, sans-serif;
    background-color: rgb(110, 151, 145);
}

h1 {
    font-size: 36px;
    color: #a1d0f3;

}

.navbar {
    margin-bottom: 0;
}

.btn {
    background-color: #99d1C8;
    color: white;
}

#content {
    padding-top: 20px;
}

/*
Page Observation
 */
#map {
    height: 400px;
    width: 100%;
}

     /*------------------ Styel pour les écans de largeur superieur à 992 px -------*/
@media (min-width: 992px) {
    /* Marge du body pour la navbar et utilisation de flex pour coller le footer en bas de page */
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /*Contenu de la page pour prendre le plus de place possible*/
    #content {
        flex: 1;
        margin-bottom: 20px;
    }

    /*style des liste oiseaux*/
    .observation, .observation > ul {
        min-height: 60px;
    }

    #listing .row {
        margin-left: 5px;

    }

    /* Position du bouton up à 120px du haut*/
    #up {
        top: 120px;
    }
    .bird{
        width: 47.5%;
    }


}

/* -------------------------------- Fin style écran petit ----------------------------------------*/
/* -------------------------------- Ecran de moins de 992 px de large ----------------------------------------*/
@media (max-width: 992px) {
    /* Marge speciale pour ne pas affiché sous la navbar */
    #view {
        padding-bottom: 70px;
    }

    /* position du bouton up à 20px du haut */
    #up {
        top: 20px;
    }
}

.required:after {
    content: '*';
    color: #C82829;
}

/* Taile des images des réseaux sociaux */
.icon {
    height: 20px;
}

/*------------ Toggle switch --------------- */
/* Le switch - box autour du slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

/* On cache la checkbox HTML */
.switch input {
    display: none;
}

/*Le slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #218BC3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Forme arroundi du slider */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/*----------- Fin du toggle switch */

/* Barre de séparation page de connection */
#right {
    border-style: solid;
    border-color: #dddddd;
    border-width: 0 0 0 2px;
}

/* Capital sur les lien de navigation dans le footer */
.capital {
    text-transform: uppercase;
    font-size: small;
}

/* Style sur l'input de recherche des liste oiseaux */
#search {
    border: 0;
    border-bottom: 2px solid cornflowerblue;
}

.center, .center > input, .center > i {
    margin: auto;
}

/*------- Loader -----*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------- Fin du loader ---------*/

/*style form field*/
#content > div > div.panel-body > form > div:nth-child(4) > div > div > span:nth-child(3) {
    display: none;
}

.pictures {
    position: relative;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
}

/*
    Zone sur les div des observations lors des paginations
    - Affichage d'une main lors du survole
    - hauteur à 100 px
    - Hauteur de certains divs à 100px
    - Affichage d'une bordure à droite sur certain contenue
*/
.observation {
    cursor: pointer;
    margin-bottom: 20px;
}

.observation > ul {
    min-height: 60px;
}

.observation small {
    color: #dddddd;
}

.right-border {
    border: 0;
    border-right: 1px solid #dddddd;
}


#up {
    z-index: 255;
    display: none;
    position: fixed;
    right: 20px;
}

/** Affichage main pour les div oiseaux **/
.bird {
    cursor: pointer;
    height: 100px;
    padding: 0;
    background-color: #FEFEE2;
    margin-bottom: 10px;
}

/* Margin special pour les div liste des oiseaux marge soit à gauche soit à droite*/
.left {
    margin-right: 2.5%;
}

.right {
    margin-left: 2.5%;
}

.star-modal{
    min-height: 50vh;
}

.obtained{
    border:2px solid #916319;
}
.no-obtained{
    border: 2px solid #2f2f2f;
}
.star{
    margin-top: 10px;
    margin-bottom: 10px;
}

#content_avatar{
    width: 200px;
    height: 200px;
    margin: auto;
}

.img-responsive{
    width: 200px;
    height: 200px;
}
#edit_avatar{
    border-radius: 50%;
    position: relative;
    bottom: 40px;
    left: 160px;
}
/*--- marging ----*/
.marge-top{
    margin-top: 20px;
}

/*---- Couleur Background -----*/
.fond-bleu-menu-2{
    background-color: #dbefed;
}

.fond-bleu-titre{
    background-color: #a1d0f3;
}
.count{
    height: 25vh;
    color: white;
}
.count>div{
    height: calc(25vh / 2);
    line-height: 20px;
    padding-top: calc(((25vh / 2) - 20px)/2);
    text-transform: uppercase;
}

/*
Star design
*/
.group-star{
    background-color: #565656;
    border-radius: 50%;
    border: 1px solid skyblue;
}
#stars{
    display: none;
}