

/*
Réglages généraux
*/
body {
    font-family: ‘Roboto’, sans-serif;
}

h1 {
    font-size: 36px;
    color: #8dd4e8;

}

.navbar {
    margin-bottom: 0;
}


/*
Page Observation
 */
#map {
    height: 400px;
    width: 100%;
}

.center-80{
    width: 80%;
    margin: auto;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0;
}
     /*------------------ Styel pour les écans de largeur superieur à 992 px -------*/
@media (min-width: 992px) {
    /* Marge du body pour la navbar et utilisation de flex pour coller le footer en bas de page */
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /*Contenu de la page pour prendre le plus de place possible*/
    #content {
        flex: 1;
    }

    /*style des liste oiseaux*/
    .observation, .observation > ul {
        min-height: 60px;
    }

    #listing .row {
        margin-left: 5px;

    }

    /* Position du bouton up à 120px du haut*/
    #up {
        top: 120px;
    }
    .bird{
        width: 47.5%;
        background-color: rgb(241, 241, 241);
    }
    /*--------- Style pour footer -------*/
    footer>.container{
        background: url("../images/Visuels/footer_background.jpg") center no-repeat;

    }
    footer>.container>.center-80{
        padding: 20px 0 ;
    }
    footer>.container>.center-80>.row{
        height: 120px;
    }
    footer>.container>.center-80>.row>div{
        height: 100%;
        color: white;
    }
    footer .border-right{
        border-right:2px solid #b4c8c6;
    }
    .second_list{
        list-style: none;
    }
    footer li>a{
        color: white;
    }
    footer li.active>a{
        color: #8dd4e8;
    }
    .content_newsletter{
        padding: 20px 30px;
    }
    .input-group-btn>.btn{
        background-color: #8dd4e8;
        text-transform: uppercase;
    }
    footer .social-network{
        display: inline-block;
        height: 28px;
        margin-top: calc((120px - 28px) /2);
        margin-left: 20px;
    }
    footer>.container>.center-80>.row>.row>div{
        height: 100%;
    }
    footer .social-network>.fa{
        color: white;
    }
}

/* -------------------------------- Fin style écran petit ----------------------------------------*/
/* -------------------------------- Ecran de moins de 992 px de large ----------------------------------------*/
@media (max-width: 992px) {
    body{
        min-height: 100vh;
        margin: 0;
    }
    /* Marge speciale pour ne pas affiché sous la navbar */
    #view {
        padding-bottom: 70px;
        min-height:100vh;
    }

    /* position du bouton up à 20px du haut */
    #up {
        top: 20px;
    }
}

.required:after {
    content: ' *';
    color: #C82829;
}

/* Taile des images des réseaux sociaux */
.icon {
    height: 20px;
}



/* Capital sur les lien de navigation dans le footer */
.capital {
    text-transform: uppercase;
    font-size: small;
}

/* Style sur l'input de recherche des liste oiseaux */
#search {
    border: 0;
    border-bottom: 2px solid cornflowerblue;
}

.center, .center > input, .center > i {
    margin: auto;
}

/*------- Loader -----*/
.content-loader{
    width: 120px;
    height: 120px;
    margin: auto;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------- Fin du loader ---------*/

/*style form field*/
#content > div > div.panel-body > form > div:nth-child(4) > div > div > span:nth-child(3) {
    display: none;
}

.pictures {
    position: relative;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
}

/*
    Zone sur les div des observations lors des paginations
    - Affichage d'une main lors du survole
    - hauteur à 100 px
    - Hauteur de certains divs à 100px
    - Affichage d'une bordure à droite sur certain contenue
*/
.observation {
    cursor: pointer;
    margin-bottom: 20px;
}

.observation > ul {
    min-height: 60px;
}

.observation small {
    color: #dddddd;
}

.right-border {
    border: 0;
    border-right: 1px solid #dddddd;
}


#up {
    z-index: 255;
    display: none;
    position: fixed;
    right: 20px;
}






.obtained{
    border:2px solid #916319;
}
.no-obtained{
    border: 2px solid #2f2f2f;
}
.star{
    margin-top: 10px;
    margin-bottom: 10px;
}



.img-responsive{
    height: 100px;
}

#birds .col-sm-4 {
    padding: 0;
}
#edit_avatar{
    border-radius: 50%;
    position: relative;
    bottom: 40px;
    left: 160px;
}

/*--- marging ----*/
.marge-top{
    margin-top: 20px;
}



/* Les boutons des form sont toutes largeur, sans arrondi et de couleur blanche*/
.btn{
    border-radius: 0;
    /*width: 100%;*/
    color: white;
}
.btn-nao>img{
    height: 20px;
}
/*Couleur verte sur les bouton */
.btn-nao{
    background-color: #99d1c8;
}

.btn-nao-2 {
    background-color: #8dd4e8;
}
/*Background gris*/
.grey{
    background-color: #fbfbfb;
}