/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/src/ObservationBundle/Entity/*.php~
/web/uploads/images/bird/*
/web/uploads/images/avatar/*
.idea/workspace.xml
.idea/libraries/Generated_files.xml
dist/dist/dist/dist/src/ObservationBundle/Resources/public/js/AJAX/
dist/dist/dist/dist/web/bundles/observation/images/
dist/dist/dist/src/ObservationBundle/Resources/public/images/
dist/dist/dist/web/bundles/observation/images/
dist/dist/src/ObservationBundle/Resources/public/images/
dist/dist/web/bundles/observation/images/
src/ObservationBundle/Resources/config/Services/
src/ObservationBundle/Resources/views/Location/
src/ObservationBundle/Resources/views/Picture/Mobile/
src/ObservationBundle/Resources/views/Star/Desktop/
src/ObservationBundle/Resources/views/Star/Mobile/
