{% if stars | length == 0 %}
    <p class="text-center">
        Il n'y a pas de medailles
    </p>
    {% else %}
        {% for star in stars %}
            <div class="star">
                <img src="" alt="">
            </div>
        {% endfor %}
{% endif %}