{% if pictures is null %}
    <div>
        Il n'y a pas encore de photos.
    </div>
{% else %}
    <div id="list-gallery" class="row">
        {% for picture in pictures %}

            <div class="col-md-3 col-xs-6">
                <img src="{{ asset('uploads/images/bird/' ~picture.url) }}" alt="{{ picture.alt }}" id="picture_{{ loop.index }}">
            </div>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        {% else %}
            <p>Prochainement les dernières photos</p>
        {% endfor %}
    </div>
    <div class="length" data-length="{{ pictures| length }}" hidden></div>
{% endif %}
