<div id="other" class="tab-pane {% if app.request.attributes.get('_route') == 'asso' %}active{% endif %}">
    <ul class="list-inline">
        <li><a href="https://bird.com">L'association</a></li>
        <li {% if app.request.attributes.get('_route')  == 'contact'%}class="active"{% endif %}><a href="{{ path('contact') }}">Nous contacter</a></li>
        <li {% if app.request.attributes.get('_route')  == 'faq'%}class="active"{% endif %}><a href="{{ path('faq') }}">Faq</a></li>
    </ul>
</div>