{% if groupsStar | length == 0 %}
    <p class="text-center">
        Il n'y a pas de catégories de medailles
    </p>
    {% else %}
        {% for groupStar in groupsStar %}
            {#{{ groupStar.getHighest(app.user) }}#}
            <div class="star col-sm-2 col-xs-4">
                <a href="#star_detail_{{ groupStar.id }}" data-toggle="modal">
                    {% if app.user in groupStar.users %}
                        <img src="{{ asset(groupStar.getHighest(app.user).image) }}" alt="medaille">
                        {% else %}
                        <img src="{{ asset('bundles/observation/images/icones/medailles_icon.png') }}">
                    {% endif %}
                </a>
            </div>
        {% endfor %}

        {% for groupStar in groupsStar %}
            {% include 'ObservationBundle:Modal:star.detail.html.twig' with{'groupStar': groupStar} %}
        {% endfor %}
{% endif %}