{# Vue de l'email envoye lors d'une demande de mot de passe #}
<p>
     Chèr,e {{ user.username }}<br>

    Vous venez de faire une demande de remplacement de mot de passe.<br>
    Veuillez suivre ce <a href="{{ url('user_link_forgot', {'token': user.token}) }}">lien</a> afin de choisir un nouveau mot de passe.<br>
    Pour des raisons de sécurité le lien n'est valable que 2 heures.
</p>