<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                <h5 class="text-center">Lieu de l'observation</h5>
                <div class="explain">
                    <div id="map"></div>
                </div>
                <div class="confirm text-center">
                    <span id="infoPosition"></span><br>
                    <button type="button" class="btn btn-nao " id="currentPosition" data-dismiss="modal">
                        Valider la position
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
