<div class="modal fade" id="reactivate_user_{{ user.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="text-center">Réouverture d'un compte</h3>
                <p class="explain">
                    Vous êtes sur le point de rouvrir le compte de {{ user.username }}.<br>
                    Un mail sera envoyé au visiteur pour lui signaler la réouverture de son compte.
                </p>
                <p class="confirm text-center">
                    Etes vous sur ?
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a href="{{ path('user_status', {'id': user.id}) }}" class="btn btn-primary">Oui</a>
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
