{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}Description {{ bird.aName }}{% endblock %}

{% block content %}

    {% if bird.sound is not null %}
        <div hidden>
            <audio id="player" src="{{ asset(bird.sound.webPath) }}"></audio>
        </div>
    {% endif %}

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/observation/js/play.bird.sound.js') }}"></script>
{% endblock %}