{% extends 'ObservationBundle::layout.desktop.html.twig' %}
{% block  title %}Accueil{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/home.css') }}">
{% endblock %}
{% block body %}
    {# Incorporation de la bar de navigation desktop et des messages flashs #}
    {% include '@Observation/Default/Navbar/Desktop/navbar.html.twig' %}
    {% include 'ObservationBundle:Default:flash.message.html.twig' %}
<div id="homePicture">
    <div class="text-center">
        <a id="start" class="btn btn-primary btn-round-lg btn-lg" href="#" role="button">Commencer l'observation</a>
    </div>
</div>
<div id="content" class="container">
{% block content %}
    {# Block affichant une pĥoto sur toute la fenetre et son bouton permettant de descendre sur le bas de page#}

    {#Zone de présentation du site #}
        <div id="bienvenue">
            <h1>Bienvenue</h1>
            <p>Bienvenue sur l'application participative de L'association Nos amis les oiseaux.<br/>Vous pourrez
                nous faire part de vos observations sur le terrain ou approfondir vos connaissances en ornithologie
                à l'aide de fiches détaillés sur nos amis les oiseaux</p>
            <div class="text-center">
                <a class="btn btn-primary btn-round-lg btn-lg" href="#" role="button">DECOUVRIR L'ASSOCIATION</a>
            </div>
        </div>
    {# Galeery des photos d'oiseaux#}
        <div id="gallery">
            <div class="row">
                <h1 class="col-md-10">Les dernières photos</h1>
                <a href="#" class="col-md-2">accéder à la gallerie</a>
            </div>
                {% for picture in gallery %}
                    <img src="{{ asset('uploads/images/bird/' ~picture.url) }}" class="img-thumbnail"
                         style="width: 250px; height: 200px">
                {% else %}
                    <p>Prochainement les dernières photos</p>
                {% endfor %}
        </div>
        {#block de saisie obs et newsletter#}
        <div id="actions">


</div>
{% endblock %}
{% include 'ObservationBundle:Default:footer.html.twig' %}
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).scroll(function () { // check if scroll event happened
                if ($(document).scrollTop() > $(window).height()) { // check if user scrolled more than height of the window
                    // Passage des couleur traditionnelles aux élément de la navbar
                    $(".navbar-fixed-top >.container").css("background-color", "#99d1c8");
                    $(".navbar-fixed-top >.tab-content").css("background-color", "#dbefed");

                }else {
                    // On remet la navbar en transparent et on raffiche le bouton start
                    $(".navbar-fixed-top >.container").css("background-color", "transparent");

                }
            });
            // Listener sur le bouton start
            $("#start").click(function (event) {
                // On blque l'effet
                event.preventDefault();
                // On calcul la taille de fenetre moins la hauteru de la nav
                var height = $(window).height() - $('nav').height()

                // On scroll jusqu'a cette hauteur
                $(window).scrollTop(height);
            });
        })

    </script>
{% endblock %}