{# Vue générale #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Création des block title, link(liens cdn de fichier css), stylesheets( contenant les balises style) #}
    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
    {% block link %}{% include 'ObservationBundle:Default:link.html.twig' %}{% endblock %}
    {% block stylesheet %}{% include 'ObservationBundle:Default:stylesheet.html.twig' %}{% endblock %}
</head>
<body>
{# Corps de la page contenant le block body remplit en fonction de chaque page #}
{% include 'ObservationBundle:Default:flash.message.html.twig' %}
{% block body %}
{% endblock %}
{# Zone d'appel des cdn Jquery bootstrap #}
{% block javascript %}
    {% include 'ObservationBundle:Default:javasrcipt.html.twig' %}
{% endblock %}
</body>
</html>


