{# vue de base sur mobile qui étends la vue générale#}
{% extends 'ObservationBundle::layout.html.twig' %}

{% block title %}NAO{% endblock %}

{% block body %}
    {% include '@Observation/Default/Navbar/Mobile/navbar.html.twig' %}
    {# Affichage des messages flashs puis du block content qui seras remplit sur chaque page et appel de la barre de navigation mobile #}
    {% include 'ObservationBundle:Default:flash.message.html.twig' %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
