<div id="user" class="tab-pane {% if app.request.attributes.get('_route')  in ['user_profil', 'user_my_observations', 'user_observations', 'user_stars']%}active{% endif %}">
    <ul class=" nav navbar-nav">
        <li class="second_line {% if app.request.attributes.get('_route')  == 'user_profil'%}active{% endif %}"><a href="{{ path('user_profil') }}">Profil</a></li>
        <li class="second_line {% if app.request.attributes.get('_route')  == 'user_my_observations'%}active{% endif %}"><a href="{{ path('user_my_observations') }}">Mes Observations</a></li>
        {% if 'ROLE_NATURALISTE' in app.user.roles %}
            <li class="second_line {% if app.request.attributes.get('_route')  == 'user_observations'%}active{% endif %}"><a href="{{ path('user_observations') }}">Validations</a></li>
        {% else %}
            <li class="second_line {% if app.request.attributes.get('_route')  == 'user_stars'%}active{% endif %}"><a href="{{ path('user_stars') }}">Recompenses</a></li>
        {% endif %}
    </ul>
</div>