{% extends '@Observation/layout.desktop.html.twig' %}

{% block title %}Gestion des roles{% endblock %}

{% block content %}
    <div class="center-80">
        {{ form(form) }}
    </div>
{% endblock %}