<p class="text-center">
    {% if status is defined %}
        Vous n'avez aucunes observations {{ status == 'true' ? 'validé' : 'en attente' }}.<br>
        N'hesité pas à nous faire <a href="{{ path('observation_add') }}">connaitre</a> les oiseaux que vous avez rencontré.
    {% else %}
        {{ bird.aName }} n'a aucunes observations<br>
        N'hesité pas à nous faire <a href="{{ path('observation_add') }}">part</a> que vous avez recolté sur lui.
    {% endif %}

</p>