{% if pictures is null %}
    <div>
        Il n'y a pas encore de photos.
    </div>
{% else %}
    <div id="list-gallery" class="row">
        {% for picture in pictures %}

            <div class="col-md-3 col-xs-6">
                <a href="#modal_picture_{{ picture.id }}" data-toggle="modal">
                    <img src="{{ asset(picture.webPath) }}" alt="{{ picture.bird }}">
                </a>
            </div>

        {% else %}
            <p>Prochainement les dernières photos</p>
        {% endfor %}

        {% for picture in pictures %}
            {%  include '@Observation/Modal/picture.html.twig' %}
        {% endfor %}

    </div>
    <div class="length" data-length="{{ pictures| length }}" hidden></div>
{% endif %}
