{# Vue de demande de mot de passe sur mobile  #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Demnande de nouveau mot de passe</h3>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}