{# Vue de demande de mot de passe sur mobile  #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <div class="center-90">
        <h3>Demnande de nouveau mot de passe</h3>
        {{ form(form) }}
    </div>

{% endblock %}
