{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}Mes observations{% endblock %}

{% block content %}
    <h2>Mes dernières observations</h2>
    <div>
        <ul class="nav nav-tabs">
            <li class="col-xs-6"><a class="link-tab text-center" href="#" data-status="true">Validées</a></li>
            <li  class="col-xs-6"><a class="link-tab text-center" href="#"  data-status="false">En attente</a></li>
        </ul>
    </div>
    <div class="container" >
        <div id="content-observations"></div>
        <div class="row content-loader">
            <div id="loader" class="col-xs-2 col-xs-offset-4 loader"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var all = '{{ all }}';
        $(document).ready(function () {
            // On viens de chargé la page, on affiche les observations validés
            $.ajax({
                url: '/observation/list/true/1/' + all,
                dataType: 'html',
                success: function (code_html, status) {
                    $('#content-observations').html(code_html);
                    $('#loader').attr('hidden', true)
                }
            })

            $('.link-tab').on('click', function () {
                var status = $(this).data('status')
                $.ajax({
                    url: getUrl(status),
                    dataType: 'html',
                    success: function (code_html, status) {
                        $('#content-observations').html(code_html);
                        $('#loader').attr('hidden', true);
                    }
                })
            })
            $(document).on('click', '.pagination', function (event) {
                prepareAjax();
                $.ajax({
                    url: $(this).data('href'),
                    dataType: 'html',
                    success: function (code_html, status) {
                        $('#content-observations').html(code_html);
                        $('#loader').attr('hidden', true)
                    }
                })
            })

            function prepareAjax() {
                $("#content-observations").empty();
                $('#loader').removeAttr('hidden');
            }
            function getUrl(status) {
                console.log('/observation/list/' + status + '/1')
                return '/observation/list/' + status + '/1/' + all;
            }
        })
    </script>
{% endblock %}