{# Vue d'enregistrement d'un visiteur sur mobile #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                Inscripiton
            </h1>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
  {{ form(form) }}
{% endblock %}