{# Vue de reset du mot de passe sur mobile  #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Mdoif duu mot de passe{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Réinitialisation du mot de passe</h4>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}