{# Vue de reset du mot de passe sur mobile  #}
{% extends 'ObservationBundle::layout.mobile.html.twig' %}

{% block title %}Mdoif duu mot de passe{% endblock %}

{% block content %}
    <div class="center-90">
        <h4>Réinitialisation du mot de passe</h4>
        {{ form(form) }}
    </div>
{% endblock %}
