{% extends '@Observation/layout.mobile.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/observation/css/mentions.legales.css') }}">
{% endblock %}

{% block content %}
    <div class="center-90">
        <a href="{{ path('asso_mention_legal_edit', {'page': 'mentions-legales'}) }}" id="edit-mention"
           class="btn btn-nao"><i class="fa fa-pencil"></i></a>
        <h1>Les mentions légales</h1>
        {{ content.content | rawdescr }}
    </div>
{% endblock %}

